.col {
    background-color: #712cf926; 
    border: 5px solid black;  
    padding-bottom: 20px; 
    padding-top: 20px;  
    font-family: "Josefin Sans", sans-serif;


} 
body {
    background-color: #ffffff; 
    
} 

.note {
    color: cornflowerblue;
} 
h1 {
    font-family: "Josefin Sans", sans-serif;
}